body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;
}

h3 {
    font-weight: Medium;
    font-size: 20px;
    letter-spacing: 2%;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #region container */
    .container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1158px) {
   .container {
    max-width: 1158px;
    padding: 0 15px;
   }
}
/* #endregion container */

/* #region header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-header {
    padding: 16px 0;
    display: block;
}

.logo-span-header {
    color: #2e2f42;
    text-decoration: none;
}

.link-nav,
.address-nav{
    display: none;
}

.burger-button {
    padding: 0;
    border: none;
    background-color: transparent;
    
}

.burger-icon {
    display: block;
    fill: #2f2f37;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-icon:hover,
.burger-icon:focus {
    fill:#404BBF;
}

@media only screen and (min-width: 768px) {
.burger-button {
        display: none;
    }

.link-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 40px;
}

.logo-header {
    padding: 24px 0;
    margin-right: 120px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.link-nav .link {
    text-decoration: none;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-nav {
    display: block;
}

.address-nav .contact {
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.address-nav .contact:hover,
.address-nav .contact:focus,
.link-nav .link:hover,
.link-nav .link:focus,
.link-nav .link.active {
    color: #404BBF;
}

.link-nav .link.active::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    text-decoration: none;
}

.header-nav {
    display: flex;
    align-items: center;
}

}

@media only screen and (min-width: 1158px) {
    .address-nav .contact{
        padding: 24px 0;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
    }
    .nav-contacts {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .logo-header {
        margin-right: 76px;
    }
}

/* #endregion header */

/* #region mobile menu */


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 100%;
    background-color: transparent; 
    border: 1px solid #e7e9fc;
    
}

.mobile-menu-nav {
    margin-bottom: auto;

    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
}

.mobile-menu-link-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-link:hover,
.mobile-link:focus,
.mobile-contact:hover,
.mobile-contact:focus,
.mobile-link.active,
.mobile-contact.active {
    color: #404bbf;
}

.mobile-link,
.mobile-contact {
    text-decoration: none;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contacts {
    margin-bottom: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-links {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.mobile-menu-link {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    background-color: #404BBF;
}

.mobile-menu-link .mobile-link-icon {
    fill: #fff;
}

@media only screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

}
/* #endregion mobile menu */

/* #region hero */
    .main-page {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg_mobile.jpg);
        padding: 72px 0;
        margin: auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 320px;
    }

    @media only screen and (min-width: 320px) and (resolution: 2x){
        .main-page {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg_mobile@2x.jpg);
        }
    }

    .main-page-text {
        color: #ffffff;
        max-width: 216px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 72px;
    }

    .order-service-button {
    color: #ffffff;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover,
.order-service-button:focus,
.order-service-button:active {
    background-color: #404BBF;
}

@media only screen and (min-width: 768px) {
    .main-page {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg_tablet.jpg);
        padding: 122px 0;
        max-width: 768px;
    }

    .main-page-text {
        max-width: 496px;
        font-size: 56px;
        line-height: 107%;
        margin-bottom: 36px;
    }
}

 @media only screen and (min-width: 768px) and (resolution: 2x) {
     .main-page {
         background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg_tablet@2x.jpg);
     }
 }

@media only screen and (min-width: 1158px) {
    .main-page {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg_desktop.jpg);
        padding: 188px 0;
        max-width: 1440px;
  }
}

@media only screen and (min-width: 1158px) and (resolution: 2x) {
    .main-page {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg_desktop@2x.jpg);
    }
}

/* #endregion hero */

/* #region advantages */

.advantages {
    padding: 96px 0;
}

.adv-icon-box {
    display: none;
}

.adv-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
}

.adv-list:last-child {
    gap: none;
}

.adv-title {
    font-weight: 700;
    font-size: 36px;
    color: #2e2f42;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.adv-text {
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
   .adv-list{
    flex-direction: row;
    gap: 24px;
  }

  .adv-item {
    width: 356px;
  }

  .adv-title {
    text-align: start;
  }
}

@media only screen and (min-width: 1158px) {
   .advantages{
    padding: 120px 0;
  }

  .adv-item .adv-icon-box {
      display: flex;
      position: relative;
      border: 1px solid #8e8f99;
      border-radius: 4px;
      width: 264px;
      height: 112px;
      background: #f4f4fd;
      justify-content: center;
      margin-bottom: 8px;
      align-items: center;
  }

  .adv-item {
      width: calc((100% - 72px) / 4);
  }

  .adv-icon {
      position: relative;
      display: flex;

      align-self: center;
      flex-shrink: 1;
  }

  .adv-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
  }

  .adv-text {
    font-weight: 400;
  }
}

/* #endregion advantages */

/* #region team */

.team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.team-title {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    row-gap: 72px;
}

.team-card {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-name {
    padding: 32px 0;
}

.team-member {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-member-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.social-links {
    position: relative;
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    align-self: flex-end;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    justify-content: center;
    align-items: center;
}

.social-links .link {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.social-links .link:hover,
.social-links .link:focus {
    background-color: #404BBF;
}

.social-links .icon {
    fill: #f4f4fd;
}

@media only screen and (min-width: 768px) {
   .team-list{
    margin-bottom: 64px;
    row-gap: 64px;
  }
}

@media only screen and (min-width: 1158px) {
   .team{
    padding: 120px 0;
  }

  .team-card {
    flex-basis: calc((100% - 72px) / 4);
  }
}
/* #endregion team */

/* #region portfolio */
.portfolio {
    padding: 96px 0;
}

.portfolio-title {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-text {
    display: none;
}

.portfolio-item-photo {
    position: relative;
    overflow: hidden;
}

.app-name {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.app-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.app-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media only screen and (min-width: 1158px) {
   .portfolio-item{
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: none;
  }

  .portfolio-item:hover,
  .portfolio-item:focus {
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
          0px 1px 1px rgba(46, 47, 66, 0.16),
          0px 2px 1px rgba(46, 47, 66, 0.08);
      transform: translateY(0%);
  }

  .portfolio-item:hover p,
  .portfolio-item:focus p {
      transform: translateY(0%);
  }

  .portfolio-item-text {
    display: inline;
      position: absolute;
      top: 0;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #f4f4fd;
      padding: 40px 32px;
      background-color: #4d5ae5;
      height: 100%;
      width: 100%;
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* #endregion portfolio */

/* #region footer */
footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.page-footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-span-footer {
    color: #F4F4FD;
    text-decoration: none;
}

.footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.footer-text {
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    max-width: 288px;
}

.social-media-footer {
    margin-bottom: 72px;
}

.social-links-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;

}

.footer-link {
    width: 40px;
    height: 40px;

}

.footer-link .link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.footer-link .link:hover,
.footer-link .link:focus {
    background-color: #31d0aa;
}

.footer-link .icon {
    fill: #f4f4fd;
}

.subscribe-footer-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.subscribe {
    display: flex;
    border: 1px solid #fff;
    border-radius: 4px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.subscribe .subscribe-input {
    border: 1px solid #ffffff;
    width: 288px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.subscribe .subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background-color: #4d5ae5;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.subscribe-btn .icon {
    fill: #fff;
    margin-left: 16px;
}

.subscribe-btn:hover,
.subscribe-btn:focus,
.subscribe-btn:active {
    background-color: #31d0aa;
}

@media only screen and (min-width: 768px) {
   footer .container{
    align-items: baseline;
    column-gap: 24px;
    width: 584px;
  }

  .footer-main {
    align-items: start;
  }

  .footer-text {
    font-size: 16px;
    max-width: 264px;
  }

  .social-media-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .subscribe-footer {
    display: flex;
    flex-direction: column;
  }

  .subscribe-form {
    flex-direction: row;
  }

  .subscribe .subscribe-input {
    max-width: 264px;
  }

  .subscribe-footer-text {
    text-align: start;
  }
}

@media only screen and (min-width: 1158px) {

footer .container {
    gap: unset;
    justify-content: center;
    width: 1440px;
}

.page-footer {
    padding: 100px 0;
}

.footer-main {
        margin-right: 120px;
    }

  .subscribe-footer {
      margin-left: 80px;
  }
}

/* #endregion footer */

/* #region backdrop */
 .modal-overlay {
     position: fixed;
     top: 0;
     left: 0;
     background-color: rgba(46, 47, 66, 0.4);
     width: 100%;
     height: 100%;
     z-index: 999;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
     opacity: 0;
     pointer-events: none;
 }

 .modal-overlay.is-open {
     opacity: 1;
     pointer-events: auto;
 }

 .modal {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: flex;
     border-radius: 4px;
     width: 288px;
     min-height: 584px;
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
     background-color: #fcfcfc;
     justify-content: center;
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
     padding: 72px 16px 24px 16px;
     flex-direction: column;
 }

  .modal-close-btn {
      position: absolute;
      top: 24px;
      right: 24px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e7e9fc;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0;
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
      background-color: #404BBF;
      border: none;
  }

  .modal-close-btn .modal-icon {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover .modal-icon,
  .modal-close-btn:focus .modal-icon {
      fill: #ffffff;
  }

   .modal .modal-text {
       font-weight: 500;
       font-size: 16px;
       /* line-height: 24px; */
       line-height: 1.5;
       letter-spacing: 0.02em;
       text-align: center;
       color: #2e2f42;
       margin-bottom: 16px;
   }

   .modal-form {
       gap: 8px;
       align-self: flex-start;
   }

   .contacts-form {
       margin-bottom: 8px;
   }

   .form-name {
       font-size: 12px;
       line-height: 1.17;
       letter-spacing: 0.04em;
       color: #8e8f99;
       display: block;
       margin-bottom: 4px;
   }

   .input-box {
       position: relative;
   }

   .input {
       width: 100%;
       height: 40px;
       border: 1px solid rgba(46, 47, 66, 0.4);
       border-radius: 4px;
       background-color: transparent;
       padding-left: 38px;
       outline: transparent;
       transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .input:hover,
   .input:focus {
       border-color: #4d5ae5;
   }

   .input-box .input-icon {
       position: absolute;
       left: 16px;
       top: 50%;
       transform: translateY(-50%);
       transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .input:hover+.input-icon,
   .input:focus+.input-icon {
       fill: #4d5ae5;
   }

   .comment-form {
       margin-bottom: 16px;
   }

   .comment-text {
       width: 100%;
       height: 120px;
       font-size: 12px;
       line-height: 1.17;
       letter-spacing: 0.04em;
       color: rgba(46, 47, 66, 0.4);
       border: 1px solid rgba(46, 47, 66, 0.4);
       border-radius: 4px;
       background-color: transparent;
       padding: 8px 16px;
       outline: transparent;
       resize: none;
       transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .comment-text:hover,
   .comment-text:focus {
       border-color: #4d5ae5;
   }

   .checkbox {
       margin-bottom: 24px;
    display: flex;
        align-items: center;
        flex-shrink: 0;
   }

   .privacy-label {
    display: flex;
        align-items: center;
       font-size: 12px;
       line-height: 1.17;
       letter-spacing: 0.04em;
       color: #8e8f99
   }

   .privacy-label .privacy-span {
       width: 16px;
       height: 16px;
       border: 1px solid rgba(46, 47, 66, 0.4);
       border-radius: 2px;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
       display: inline-flex;
       align-items: center;
       justify-content: center;
       fill: transparent;
       margin-right: 8px;
   }

   .user-privacy:checked+.privacy-label>.privacy-span {
       background-color: #404BBF;
       border: none;
       fill: #f4f4fd;
   }

   .privacy-policy {
       color: #4d5ae5;
   }

   .submit-btn {
       display: block;
       min-width: 169px;
       height: 56px;
       font-family: "Roboto", sans-serif;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.04em;
       text-align: center;
       color: #fff;
       cursor: pointer;
       background-color: #4d5ae5;
       border: none;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       margin: 0 auto;
   }

   .submit-btn:hover,
   .submit-btn:focus,
   .submit-btn:active {
       background-color: #404BBF;
   }

@media only screen and (min-width: 768px) {
  .modal{
    width: 408px;
    padding: 72px 24px 24px 24px;
     }
   }

   .modal-form {
    align-self: normal;
   }
/* #endregion backdrop */